@use "../../../../styles/variables" as variables;

button {
  background: variables.$color-white;
  padding: 20px;
  border-radius: 16px;
  border: none;
  box-shadow: 4px 4px 8px variables.$color-light-black_25;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  transition: all .2s;

  &:hover {
    box-shadow: 7px 7px 9px variables.$color-light-black_25;
  }
}
