<div class="container">
  <div class="contact__header-block">
    <h2 class="contact__title">contact <span>us</span></h2>
    <a href="#"><img src="../../assets/Group2279.png" alt=""></a>
  </div>
  <div class="form-container">
    <form class="contact__form" [formGroup]="form" (ngSubmit)="saveDetails(form)">
      <mat-form-field [hideRequiredMarker]="'true'">
        <mat-label>Full Name</mat-label>
        <input matInput maxlength="15" inputmode="text" formControlName="name">
        <mat-error>Full Name is required</mat-error>
      </mat-form-field>

      <mat-form-field [hideRequiredMarker]="'true'">
        <mat-label>Company Name</mat-label>
        <input matInput maxlength="15" inputmode="text" formControlName="company">
        <mat-error>Name is required</mat-error>
      </mat-form-field>

      <mat-form-field [hideRequiredMarker]="'true'">
        <mat-label>Phone Number</mat-label>
        <input matInput maxlength="15" type="tel" inputmode="tel" formControlName="phone">
        <mat-error>Phone Number is invalid</mat-error>
      </mat-form-field>

      <mat-form-field [hideRequiredMarker]="'true'">
        <mat-label>Email Address:</mat-label>
        <input matInput type="email" inputmode="email" formControlName="email">
        <mat-error>Email is invalid</mat-error>
      </mat-form-field>

      <mat-form-field [hideRequiredMarker]="'true'">
        <mat-label>Write Us Messages</mat-label>
        <textarea matInput formControlName="message"></textarea>
        <mat-error>min 10 </mat-error>
      </mat-form-field>

      <div mat-dialog-actions align="start">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
      </div>
    </form>
  </div>

<!-- <div>{{ form.value | json }}</div> -->

</div>

