@use "../../../styles/variables" as variables;

.container {
  background-color: variables.$color-white;
  min-height: 100vh;
  padding-left: 9.2rem;
  padding-right: 3rem;
  max-width: 138.8rem;
  margin: 0 auto;
}

.contact-form {
  font-size: 1.6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}

.title {
  text-transform: uppercase;
  font-family: variables.$font-header;
  font-size: 5rem;
  line-height: 150%;
  color: variables.$color-main;
  text-shadow: variables.$shadow-light;
  letter-spacing: .2rem;
  margin: 2.5rem 0 0;

  span {
    color: variables.$color-black;
  }
}

.scroll-arrow {
  width: 5rem;
  height: 5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 117rem;
  border-radius: 3rem;
  box-shadow: 0 .4rem 1.6rem variables.$color-ultralight-black_8;
  margin-top: 3.1rem;
  padding: 4rem 6rem;

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100rem white inset !important;
  }
}

::ng-deep .mat-form-field {
  max-width: 51rem;
  margin-bottom: 3rem;

  .mat-form-field-label {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  .mat-input-element {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  .mat-form-field-underline {
    background-color: variables.$color-light-black_25;
  }
}

.button-block {
  margin-bottom: 1.875em;
}

@media (max-width: 480px) {
  .container {
    padding-left: 2.4rem;
  }

  .title {
    font-size: 3rem;
    margin: 0;
    line-height: 124%;
    text-shadow: none;

  }

  .scroll-arrow {
    width: 4rem;
    height: 4rem;
  }

  .contact-form {
    padding: 2.4rem;
  }
}
