<div class="container">
  <div class="header">
    <h2 class="title">contact <span>us</span></h2>
    <a (click)="scrollTo('home')"><img class="scroll-arrow" src="assets/Group2279.png" alt="arrow"></a>
  </div>
    <form class="contact-form" [formGroup]="form" (ngSubmit)="saveDetails(form, contactForm)" #contactForm="ngForm">
      <mat-form-field hideRequiredMarker="true">
        <mat-label>Full Name</mat-label>
        <input matInput maxlength="15" inputmode="text" formControlName="name">
        <mat-error>Full Name is required</mat-error>
      </mat-form-field>

      <mat-form-field hideRequiredMarker="true">
        <mat-label>Company Name</mat-label>
        <input matInput maxlength="15" inputmode="text" formControlName="company">
        <mat-error>Name is required</mat-error>
      </mat-form-field>

      <mat-form-field hideRequiredMarker="true">
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          maxlength="12"
          type="text"
          inputmode="tel"
          (keypress)="inputChecker($event)"
          formControlName="phone">
        <mat-error>Phone Number is invalid</mat-error>
      </mat-form-field>

      <mat-form-field hideRequiredMarker="true">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" inputmode="email" formControlName="email">
        <mat-error>Email is invalid</mat-error>
      </mat-form-field>

      <mat-form-field hideRequiredMarker="true">
        <mat-label>Write Us Messages</mat-label>
        <textarea matInput
          rows="4"
          formControlName="message"></textarea>
        <mat-error>min length is 10 signs</mat-error>
      </mat-form-field>

      <div class="button-block" mat-dialog-actions>
        <app-button
          [disabled]="!form.valid"
          [type]="'form-btn'"
          >Send Message</app-button>
      </div>
    </form>
  </div>