@use "../../../styles/variables" as variables;

.container {
  background-color: variables.$color-main;
  margin: 0 auto;
  min-height: 100vh;
  padding: 4.8rem 0 0 10rem;
}

.grid-container {
  max-width: 161.4rem;
  margin: 7.6rem 0 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main-info {
  max-width: 60%;
  margin-top: 10.2rem;
}

.content {
  padding-left: 8.1rem;
}

.header {
  display: inline-block;
  text-transform: uppercase;
  max-width: 43.7rem;
  font-family: variables.$font-header;
  font-size: 6.8rem;
  line-height: 130%;
  text-shadow: variables.$shadow-light;
  margin: 0 0 3.3rem;
}

.text {
  max-width: 56rem;
  margin: 0 0 6.3rem;
  text-shadow: variables.$shadow-light;
  font-size: 1.8rem;
  line-height: 160%;
}

.arrow {
  margin-top: 6.5rem;
  display: block;
  filter: drop-shadow(variables.$shadow-light);
  padding-bottom: 5.5rem;
}

.image {
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 1200px) {
  .main-info {
    margin-top: 5rem;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 4.8rem 0 0 7rem;
  }

  .main-info {
    margin-right: 5rem;
    margin-top: 6.4rem;
  }

  .image {
    max-width: 45%;
  }

  .content {
    padding-left: 4rem;
  }

  .grid-container {
    margin-top: 2.6rem;
  }

  .header {
    font-size: 5.8rem;
    line-height: 6.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 4.8rem 5rem 0;
  }

  .grid-container {
    margin-top: 0;
    flex-wrap: wrap;
  }

  .main-info {
    max-width: 100%;
    margin-right: 0;
    margin-top: 6.4rem;
  }

  .image {
    max-width: 100%;
  }

  .header {
    font-size: 5rem;
    line-height: 6rem;
    margin-left: 0;
    margin-bottom: 2.5rem;
  }

  .text {
    margin-bottom: 3rem;
  }

  .arrow {
    display: none;
  }

  .image {
    margin: 4.8rem 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 4.8rem 2.7rem 0;
  }

  .grid-container {
    display: flex;
    margin-top: 0;
  }
  .main-info {
    margin-top: 6.4rem;
  }

  .content {
    padding-left: 0;
  }

  .header {
    max-width: 90%;
    font-size: 4.2rem;
    line-height: 5.5rem;
    text-shadow: none;
  }

  .text {
    max-width: 95%;
    font-size: 1.4rem;
    font-weight: 400;
    text-shadow: none;
  }

  .image {
    overflow: hidden;
    width: 40rem;
  }
}
