<div class="container">
  <app-navigation>
    <app-logo></app-logo>
  </app-navigation>
  <div class="grid-container">
    <div class="home-info">
      <h1 class="home-info__header">Never Caught Off-Guard Again</h1>
      <p class="home-info__text">We are specialist in protecting your assets and reputation to make sure you operate risk-free and focus on your core business.</p>
      <app-button [btnConfig]="{'padding': '21px 40px'}">Learn More</app-button>
      <img class="home-info__arrow" src="../../assets/Group2277.png" alt="scroll arrow">
    </div>
    <div class="home-image">
      <img src="../../assets/space-helmetf 5.png" alt="">
    </div>
  </div>
</div>

