
$color-main: #FFBC00;
$color-black: #000;
$color-light-black_25: rgba(0, 0, 0, .25);
$color-ultralight-black_8: rgba(0, 0, 0, .08);
$color-white: #fff;

$shadow-light: 0 4px 4px $color-light-black_25;

$font-main: 'Ubuntu', sans-serif;
$font-header: 'Anton', sans-serif;
