@use "../../../../styles/variables" as variables;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1980px;
  margin: 0 auto;
}

.menu-btn {
  display: none;
}

nav > ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-item  {
  font-size: 18px;
  font-weight: 500;
  padding: 14px 0;
  text-shadow: variables.$shadow-light;
  margin-right: 50px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
    padding: 14px;
    background-color: variables.$color-white;
    border-radius: 12px;
    box-shadow: variables.$shadow-light;

    &:active {
      transform: scale(.99);
    }
  }
}

@media (max-width: 775px) {
  nav {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}
