@use "../../../../styles/variables" as variables;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
  padding-right: 10rem;
  margin: 0 auto;
}

.menu-btn {
  display: none;
}

nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-item  {
  font-size: 1.8rem;
  font-weight: 500;
  text-shadow: variables.$shadow-light;
  margin-right: 5rem;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding-right: 6rem;
  }

  ul {
    padding-left: 2rem;
  }

  .nav-item {
    font-size: 1.6rem;
    margin-right: 3rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0;
  }

  nav {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}